/* stylesheet.css */

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    display: flex;
    flex-direction: row;
    margin: 50px;
    align-items: center;
    width: fit-content;
}

img {
    width: 500px;
    height: auto;
}

.header {
    
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    flex: 1;
    padding: 10px;
    padding-bottom: 30px;
    padding-right: 100px;
    margin-top: 0;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    padding-bottom: 5px;
    background-color: #3882F6;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.25%;
    padding-left: 10%;
    padding-right: 2%;
    align-items: center;
}

.infobox {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
    width: 400px;
    
}

.left .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.logo {
    font-size: 24px;
}

.herotext {
    color: #F9FAF8;
    font-size: 48px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    padding: 20px;
    margin-left: 0;
}

.herosecondary {
    display: flex;
    color: #F9FAF8;
    font-size: 18px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 0;
    width: 300px;
}

.button {
    background-color: #3882F6;
    padding: 10px;
    border-radius: 25px;
    width: 70px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: white;
  }